/ {
	
	aliases {
		stepper-motor2 = &stepper_motor_2;
	};

	steppermotors {
		compatible = "stepper-motors";
		stepper_motor_2: motor_2 {
			label = "First Link";
			dir-gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;
			step-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
		};
	};
};


