#include <zephyr/dt-bindings/sensor/qdec_stm32.h>
/ {
	stepper-motors {
		compatible = "stepper-motors";

		stepper_motor_2: stepper-motor-2 {
			compatible = "gpio-stepper-motor";
			label = "First Link Stepper Motor";
			dir-gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;
			step-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
		};
	};
};
